@import 'compass/css3';
@import "compass/utilities";

@mixin unselectable {
  @include experimental("user-select", none,
    -moz, -webkit, not -o, not -ms, not -khtml, official);
  @include experimental("user-drag", none,
    -moz, -webkit, not -o, not -ms, not -khtml, official);
}

@mixin kopi-transition {
  @include transition-property(all);
  @include transition-duration(300ms);
  @include transition-timing-function(ease-out);
}

@mixin kopi-highlight-mask($color: white) {
  @include background(linear-gradient(top,
      rgba($color, 0.6) 0, rgba($color, 0.2) 50%,
      rgba($color, 0) 50%, rgba($color, 0.1) 100%));
}

// Webkit-style focus
@mixin kopi-tab-focus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
