/**
  Viewport arch

  .kopi-viewport (100)
    .kopi-view-container (200)
      .kopi-view
    .kopi-navbar-bottom (300)
      .kopi-nav
    .kopi-navbar-top (400)
      .kopi-nav

    .kopi-notifier-overlay (1000)
    .kopi-notifier-dialog (1100)
    .kopi-notifier-bubble (1200)
    .kopi-notifier-indicator (1300)
 */

body.kopi-viewport {
  margin: 0;
  padding:0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}
