@import 'compass/css3';
@import 'kopi/utils';

// {{{ Box
//
// div.kopi-box
$kopi-box-opacity: 0.8 !default;
$kopi-box-border-radius: 3px !default;
$kopi-box-background-color: black !default;
$kopi-box-color: white !default;
$kopi-box-font-size: 16px !default;

// Interface of box styles
@mixin kopi-box($background-color: black, $color: white) {

  // Box styles
  @include unselectable;
  @include opacity($kopi-box-opacity);
  @include border-radius($kopi-box-border-radius);
  @include box-shadow(
    rgba(darken($background-color, 10%), 0.7) 0 5px 30px,
    rgba($color, 0.5) 0 0 10px inset);
  background-color: rgba($background-color, 0.7);
  border: 1px solid rgba(darken($background-color, 10%), 0.7);
  margin: 0;
  padding: 0;

  // Box font styles
  color: $color;
  font-size: $kopi-box-font-size;
  line-height: $kopi-box-font-size * 1.5;
  text-shadow: 0 -1px 0 darken($background-color, 50%);
}

.kopi-box {
  @include kopi-box($kopi-box-background-color, $kopi-box-color);
}
// }}}
