@import "kopi/utils";

// {{{ Button
//
// div.kopi-button
//   span.kopi-button-text
$kopi-button-opacity: 0.8;
$kopi-button-border-radius: 3px !default;
$kopi-button-background-color: rgba(white, 0.1) !default;
$kopi-button-color: white !default;
$kopi-button-font-size: 16px !default;

// Define some base styles for buttons
@mixin kopi-button() {
  @include ellipsis;
  @include unselectable;
  @include kopi-transition;
  @include opacity($kopi-button-opacity);
  @include border-radius($kopi-button-border-radius);
  cursor: pointer;
  text-align: center;

  figure.kopi-button-icon {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  span.kopi-button-text {
    @include inline-block;
    vertical-align: middle;
    text-align: center;
  }
}

// Define color related styles for buttons
@mixin kopi-button-color($background-color: black, $color: white) {
  background-color: $background-color;
  // border: 1px solid rgba(darken($background-color, 10%), 0.3);

  span.kopi-button-text {
    color: $color;
    font-size: $kopi-button-font-size;
    text-shadow: 0 -1px 0 darken($background-color, 50%);
  }
}

.kopi-button {
  @include kopi-button;
  @include kopi-button-color($kopi-button-background-color, $kopi-button-color);
}

.kopi-button-hover {
  @include kopi-button-color(rgba($kopi-button-background-color, 0.5), $kopi-button-color);
}

.kopi-button-active {
  @include kopi-button-color(darken($kopi-button-background-color, 50%), $kopi-button-color);
}

// .kopi-button-hover {
//   background: $kopi-button-hover-background;
//
//   span.kopi-button-text {
//     color: $kopi-button-hover-color;
//     text-shadow: $kopi-button-hover-text-shadow;
//   }
// }
//
// .kopi-button-active {
//   background: $kopi-button-active-background;
//
//   span.kopi-button-text {
//     color: $kopi-button-active-color;
//     text-shadow: $kopi-button-active-text-shadow;
//   }
// }

// Not supported yet
// .kopi-button-hold {
//   background: $kopi-button-hold-background;
//
//   span.kopi-button-text {
//     color: $kopi-button-hold-color;
//     text-shadow: $kopi-button-hold-text-shadow;
//   }
// }
// }}}
