@import 'compass/css3';
@import "compass/utilities";
@import 'kopi/themes/base';

body {
  @include reset-html5;

  background: $kopi-white;
  color: $kopi-gray-dark;
  font-family: $kopi-base-font-family;
  font-size: $kopi-base-font-size;
}

// Since mobile browsers don't support hover pseudo selector well
// We render links as the same color, and use JS to render them later
a {
  color: $kopi-link-color;
  cursor: pointer;
  text-decoration: none;
}

a:active, a.active {
  color: $kopi-link-color-active;
}

a:hover, a.hover {
  color: $kopi-link-color-hover;
}

a:visited, a.visited {
  color: $kopi-link-color;
}

figure {
  padding: 0;
  margin: 0;
}

img {
  @include reset-image-anchor-border;
}

.kopi-inner {
  padding: $kopi-base-line-height;
}

.kopi-outer {
  margin: $kopi-base-line-height;
}
