$kopi-indicator-height: 24px !default;
$kopi-indicator-width: 24px !default;
$kopi-indicator-url: image-url("kopi/loader.gif") !default;

.kopi-indicator {
  height: $kopi-indicator-height;
  width: $kopi-indicator-width;
  background: transparent $kopi-indicator-url center center no-repeat;
  background-size: contain;
  display: none;
}

.kopi-indicator-show {
  display: block;
}

.kopi-indicator-center {
  position: absolute;
  margin-top: $kopi-indicator-height * -0.5;
  margin-left: $kopi-indicator-width * -0.5;
  top: 50%;
  left: 50%;
  z-index: 1300;
}
