@import 'compass/css3';
@import 'kopi/utils';
@import "kopi/box";
@import "kopi/buttons";

/* {{{ ListItem
 *
 * div.kopi-list-item
 *   div.kopi-button
 *     span.kopi-button-text
 */

$kopi-list-item-height: 48px !default;
$kopi-list-item-background: black !default;
$kopi-list-item-color: white !default;

.kopi-list-item {
  @extend .kopi-round-box;

  height: $kopi-list-item-height;
  margin: 3px 2px;

  .kopi-button {
    width: 100%;
    height: 100%;

    .kopi-button-text {
      padding: 0 10px;
      font-size: $kopi-list-item-height / 3;
      line-height: $kopi-list-item-height;
    }
  }
}
// }}}
