@import 'compass/css3';
@import 'kopi/utils';

/* {{{ ListItem
 *
 * div.kopi-list-item
 *   div.kopi-button
 *     span.kopi-button-text
 */

$kopi-list-item-height: 48px !default;
$kopi-list-item-background: rgba(33, 33, 33, 0.7) !default;
$kopi-list-item-hover-background: rgba(66, 33, 33, 0.7) !default;
$kopi-list-item-active-background: rgba(99, 66, 66, 0.7) !default;
$kopi-list-item-hold-background: rgba(133, 66, 66, 0.7) !default;

$kopi-list-item-color: #ccc !default;
$kopi-list-item-hover-color: #fcc !default;
$kopi-list-item-active-color: #fdd !default;
$kopi-list-item-hold-color: #fee !default;
$kopi-list-item-text-shadow: 0 -1px 0 #000 !default;
$kopi-list-item-hover-text-shadow: 0 -1px 0 #300 !default;
$kopi-list-item-active-text-shadow: 0 -1px 0 #600 !default;
$kopi-list-item-hold-text-shadow: 0 -1px 0 #900 !default;

.kopi-list-item {
  @include unselectable;

  width: 100%;
  height: $kopi-list-item-height;
  margin-bottom: 1px;

  .kopi-button {
    background: $kopi-list-item-background;
    // Fill parent of list item
    width: 100%;
    height: 100%;

    span.kopi-button-text {
      color: $kopi-list-item-color;
      text-shadow: $kopi-list-item-text-shadow;
      font-size: $kopi-list-item-height / 3;
      line-height: $kopi-list-item-height / 2;
      margin: $kopi-list-item-height / 4;
    }
  }

  .kopi-button-hover {
    background: $kopi-list-item-hover-background;

    span.kopi-button-text {
      color: $kopi-list-item-hover-color;
      text-shadow: $kopi-list-item-hover-text-shadow;
    }
  }

  .kopi-button-active {
    background: $kopi-list-item-active-background;

    span.kopi-button-text {
      color: $kopi-list-item-active-color;
      text-shadow: $kopi-list-item-active-text-shadow;
    }
  }

  // Not supported yet
  // .kopi-button-hold {
  //   background: $kopi-list-item-hold-background;

  //   span.kopi-button-text {
  //     color: $kopi-list-item-hold-color;
  //     text-shadow: $kopi-list-item-hold-text-shadow;
  //   }
  // }
}
// }}}
