@import 'compass/css3';
@import "compass/utilities";
@import "kopi/utils";
@import "kopi/box";

/* {{{ Navbar

  nav.kopi-navbar
    div.kopi-nav-previous
      div.kopi-nav
    div.kopi-nav-current
      div.kopi-nav
    div.kopi-nav-next
      div.kopi-nav
 */
// Variables
$kopi-navbar-background-color: black !default;
$kopi-navbar-color: white !default;
$kopi-navbar-height: 36px !default;
$kopi-navbar-background: rgba(0,0,0,0.7) !default;
$kopi-navbar-opacity: 1 !default;
$kopi-navbar-box-shadow: #000 0 0 10px !default;
$kopi-navbar-border: 1px solid #333 !default;

.kopi-navbar {
  @include kopi-box($kopi-navbar-background-color, $kopi-navbar-color);
  @include border-radius(0);
  height: $kopi-navbar-height;
  text-align: center;
  min-height: 0;
}

.kopi-navbar-top {
  @extend .kopi-navbar;
  top: 0;
  border-width: 0 0 1px;
  z-index: 400;
}

.kopi-navbar-bottom {
  @extend .kopi-navbar;
  bottom: 0;
  border-width: 1px 0 0;
}

.kopi-navbar-fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 300;
}

div.kopi-navbar-top-fixed {
  @extend .kopi-navbar-fixed;
  @extend .kopi-navbar-top;
}

.kopi-navbar-bottom-fixed {
  @extend .kopi-navbar-fixed;
  @extend .kopi-navbar-bottom;
}
// }}}

/* {{{ Nav

  nav.kopi-nav
    div.kopi-nav-left
      a.kopi-nav-button
        span.kopi-nav-button-sprite
    div.kopi-nav-center
      h1.kopi-nav-title
    div.kopi-nav-right
      a.kopi-nav-button
        span.kopi-nav-button-text
 */

// Variables
$kopi-nav-height: 36px !default;
$kopi-nav-padding: 6px !default;

$kopi-nav-title-color: #fff !default;
$kopi-nav-title-font-size: 20px !default;
$kopi-nav-title-margin: 60px !default;
$kopi-nav-title-shadow: #333 0 -1px 0 !default;

$kopi-nav-button-height: $kopi-nav-height - 2 * $kopi-nav-padding !default;
$kopi-nav-button-width: 60px !default;
$kopi-nav-button-margin: 10px !default;
$kopi-nav-button-padding: 10px !default;
$kopi-nav-button-border: 1px solid #ccc !default;
$kopi-nav-button-background: #333 !default;
$kopi-nav-button-color: #ccc !default;
$kopi-nav-button-font-size: 14px !default;
$kopi-nav-button-border-radius: 5px !default;

.kopi-nav {
  display: none;
}

.kopi-nav-show {
  display: block;
}

.kopi-nav-current {
}

.kopi-nav-button-wrapper {
  position: absolute;
  top: 0;
  height: $kopi-nav-height;
}

.kopi-nav-left {
  @extend .kopi-nav-button-wrapper;
  left: 0;
  text-align: left;
}

.kopi-nav-right {
  @extend .kopi-nav-button-wrapper;
  right: 0;
  text-align: right;
}

.kopi-nav-center {
  @extend .kopi-nav-button-wrapper;
  left: $kopi-nav-button-width;
  right: $kopi-nav-button-width;
  text-align: center;

  .kopi-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: $kopi-nav-height;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }
}

.kopi-nav-button {
  @include inline-block;
  text-decoration: none;
  height: $kopi-nav-height;
  width: auto;
  padding: $kopi-nav-padding;
}

.kopi-nav-button-text {
  @include inline-block;
  @include border-radius($kopi-nav-button-border-radius);

  background: $kopi-nav-button-background;
  color: $kopi-nav-button-color;
  font-size: $kopi-nav-button-font-size;
  height: $kopi-nav-button-height;
  width: auto;
  line-height: $kopi-nav-button-height;
  border: $kopi-nav-button-border;
  min-width: $kopi-nav-button-width;
  text-align: center;
  padding: 0 $kopi-nav-button-padding;
}

.kopi-nav-button-sprite {
  @extend .kopi-nav-button-text;
}
// }}}

// {{{ Nav Transition
.kopi-nav-transition {
  -webkit-transition-property: -webkit-transform,opacity;
  -moz-transition-property: -moz-transform,opacity;
  transition-property: transform,opacity;
  @include transition-duration(1s);
  @include transition-timing-function(ease-out);
}

.kopi-nav-from-start {
  @extend .kopi-nav-transition;
  @include opacity(1);
  display: block;

  .kopi-nav-left {
    @extend .kopi-nav-transition;
    @include translateX(0);
  }

  .kopi-nav-center {
    @extend .kopi-nav-transition;
    @include translateX(0);
  }

  .kopi-nav-right {
    @extend .kopi-nav-transition;
    @include translateX(0);
  }
}

.kopi-nav-from-stop {
  @extend .kopi-nav-transition;
  @include opacity(0);
  display: block;

  .kopi-nav-left {
    @include translateX($kopi-nav-button-width * -1);
  }

  .kopi-nav-center {
    @include translateX(-30%);
  }

  .kopi-nav-right {
    @include translateX(0);
  }
}

.kopi-nav-to-start {
  @extend .kopi-nav-transition;
  @include opacity(0);
  display: none;

  .kopi-nav-left {
    @extend .kopi-nav-transition;
    @include translateX($kopi-nav-button-width);
  }

  .kopi-nav-center {
    @extend .kopi-nav-transition;
    @include translateX(30%);
  }

  .kopi-nav-right {
    @extend .kopi-nav-transition;
    @include translateX(0);
  }
}

.kopi-nav-to-stop {
  @extend .kopi-nav-transition;
  @include opacity(1);
  display: none;

  .kopi-nav-left {
    @include translateX(0);
  }

  .kopi-nav-center {
    @include translateX(0);
  }

  .kopi-nav-right {
    @include translateX(0);
  }
}
// }}}
