@import 'compass/css3';
@import "compass/utilities";
@import "kopi/utils";

/* {{{ Navbar

  nav.kopi-navbar
    div.kopi-nav-previous
      div.kopi-nav
    div.kopi-nav-current
      div.kopi-nav
    div.kopi-nav-next
      div.kopi-nav
 */
.kopi-navbar {
  @include unselectable;
  @include background(linear-gradient(top, $kopi-navbar-background-highlight 0%, $kopi-navbar-background 100%));
  $shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  @include box-shadow($shadow);
  color: $kopi-navbar-color;
  height: $kopi-navbar-height;
  text-align: center;
  min-height: 0;
}

.kopi-navbar-top {
  @extend .kopi-navbar;
  top: 0;
  border-width: 0 0 1px;
  margin-bottom: $kopi-base-line-height;
  z-index: 400;
}

.kopi-navbar-bottom {
  @extend .kopi-navbar;
  bottom: 0;
  margin-top: $kopi-base-line-height;
  border-width: 1px 0 0;
}

.kopi-navbar-fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 300;
}

div.kopi-navbar-top-fixed {
  @extend .kopi-navbar-fixed;
  @extend .kopi-navbar-top;
}

.kopi-navbar-bottom-fixed {
  @extend .kopi-navbar-fixed;
  @extend .kopi-navbar-bottom;
}
// }}}

/* {{{ Nav

  nav.kopi-nav
    div.kopi-nav-left
      a.kopi-nav-button
        span.kopi-nav-button-sprite
    div.kopi-nav-center
      h1.kopi-nav-title
    div.kopi-nav-right
      a.kopi-nav-button
        span.kopi-nav-button-text
 */

// TODO Move navbar button styles to base theme
$kopi-navbar-button-height: $kopi-navbar-height - 2 * $kopi-navbar-padding !default;
$kopi-navbar-button-width: 60px !default;
$kopi-navbar-button-margin: 10px !default;
$kopi-navbar-button-padding: 10px !default;
$kopi-navbar-button-border: 1px solid #ccc !default;
$kopi-navbar-button-background: #333 !default;
$kopi-navbar-button-color: #ccc !default;
$kopi-navbar-button-font-size: 14px !default;
$kopi-navbar-button-border-radius: 5px !default;

.kopi-nav {
  display: none;
}

.kopi-nav-show {
  display: block;
}

.kopi-nav-current {
}

.kopi-nav-button-wrapper {
  position: absolute;
  top: 0;
  height: $kopi-navbar-height;
}

.kopi-nav-left {
  @extend .kopi-nav-button-wrapper;
  left: 0;
  text-align: left;
}

.kopi-nav-right {
  @extend .kopi-nav-button-wrapper;
  right: 0;
  text-align: right;
}

.kopi-nav-center {
  @extend .kopi-nav-button-wrapper;
  left: $kopi-navbar-button-width;
  right: $kopi-navbar-button-width;
  text-align: center;

}

.kopi-nav-title {
  color: $kopi-navbar-title-color;
  text-shadow: $kopi-navbar-title-shadow;
  font-size: $kopi-navbar-title-font-size;
  font-weight: bold;
  line-height: $kopi-navbar-height;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.kopi-nav-button {
  @include inline-block;
  text-decoration: none;
  height: $kopi-navbar-height;
  width: auto;
  padding: $kopi-navbar-padding;
}

.kopi-nav-button-text {
  @include inline-block;
  @include border-radius($kopi-navbar-button-border-radius);

  background: $kopi-navbar-button-background;
  color: $kopi-navbar-button-color;
  font-size: $kopi-navbar-button-font-size;
  height: $kopi-navbar-button-height;
  width: auto;
  line-height: $kopi-navbar-button-height;
  border: $kopi-navbar-button-border;
  min-width: $kopi-navbar-button-width;
  text-align: center;
  padding: 0 $kopi-navbar-button-padding;
}

.kopi-nav-button-sprite {
  @extend .kopi-nav-button-text;
}
// }}}

// {{{ Nav Transition
.kopi-nav-transition {
  -webkit-transition-property: -webkit-transform,opacity;
  -moz-transition-property: -moz-transform,opacity;
  transition-property: transform,opacity;
  @include transition-duration(300ms);
  @include transition-timing-function(ease-out);
}

.kopi-nav-from-start {
  @extend .kopi-nav-transition;
  @include opacity(1);
  display: block;

  .kopi-nav-left {
    @extend .kopi-nav-transition;
    @include translateX(0);
  }

  .kopi-nav-center {
    @extend .kopi-nav-transition;
    @include translateX(0);
  }

  .kopi-nav-right {
    @extend .kopi-nav-transition;
    @include translateX(0);
  }
}

.kopi-nav-from-stop {
  @extend .kopi-nav-transition;
  @include opacity(0);
  display: block;

  .kopi-nav-left {
    @include translateX($kopi-navbar-button-width * -1);
  }

  .kopi-nav-center {
    @include translateX(-30%);
  }

  .kopi-nav-right {
    @include translateX(0);
  }
}

.kopi-nav-to-start {
  @extend .kopi-nav-transition;
  @include opacity(0);
  display: block;

  .kopi-nav-left {
    @extend .kopi-nav-transition;
    @include translateX($kopi-navbar-button-width);
  }

  .kopi-nav-center {
    @extend .kopi-nav-transition;
    @include translateX(30%);
  }

  .kopi-nav-right {
    @extend .kopi-nav-transition;
    @include translateX(0);
  }
}

.kopi-nav-to-stop {
  @include opacity(1);
  display: block;

  .kopi-nav-left {
    @include translateX(0);
  }

  .kopi-nav-center {
    @include translateX(0);
  }

  .kopi-nav-right {
    @include translateX(0);
  }
}
// }}}
