@import 'compass/css3';
@import "compass/utilities";
@import "kopi/utils";
@import "kopi/themes/base";

/* {{{ Navbar

  nav.kopi-navbar
    div.kopi-nav-previous
      div.kopi-nav
    div.kopi-nav-current
      div.kopi-nav
    div.kopi-nav-next
      div.kopi-nav
 */
.kopi-navbar {
  @include unselectable;
  background-color: $kopi-navbar-background;
  @include background(linear-gradient(top, $kopi-navbar-background-highlight 0%, $kopi-navbar-background 100%));
  $shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  @include box-shadow($shadow);
  color: $kopi-navbar-color;
  text-shadow: $kopi-navbar-shadow;
  height: $kopi-navbar-height;
  text-align: center;
  min-height: 0;
}

.kopi-navbar-top {
  @extend .kopi-navbar;
  top: 0;
  border-width: 0 0 1px;
  margin-bottom: $kopi-base-line-height;
  z-index: 400;
}

.kopi-navbar-bottom {
  @extend .kopi-navbar;
  bottom: 0;
  margin-top: $kopi-base-line-height;
  border-width: 1px 0 0;
}

.kopi-navbar-fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 300;
}

div.kopi-navbar-top-fixed {
  @extend .kopi-navbar-fixed;
  @extend .kopi-navbar-top;
}

.kopi-navbar-bottom-fixed {
  @extend .kopi-navbar-fixed;
  @extend .kopi-navbar-bottom;
}
// }}}

/* {{{ Nav

  nav.kopi-nav
    div.kopi-nav-left
      a.kopi-nav-button
        span.kopi-nav-button-sprite
    div.kopi-nav-center
      h1.kopi-nav-title
    div.kopi-nav-right
      a.kopi-nav-button
        span.kopi-nav-button-text
 */

.kopi-nav {
  display: none;
}

.kopi-nav-show {
  display: block;
}

.kopi-nav-current {
}

.kopi-nav-button-wrapper {
  position: absolute;
  top: 0;
  height: $kopi-navbar-height;
}

.kopi-nav-left {
  @extend .kopi-nav-button-wrapper;
  left: 0;
  text-align: left;
}

.kopi-nav-right {
  @extend .kopi-nav-button-wrapper;
  right: 0;
  text-align: right;
}

.kopi-nav-center {
  @extend .kopi-nav-button-wrapper;
  left: $kopi-navbar-button-width;
  right: $kopi-navbar-button-width;
  text-align: center;

}

.kopi-nav-title {
  color: $kopi-navbar-title-color;
  font-size: $kopi-navbar-title-font-size;
  font-weight: bold;
  line-height: $kopi-navbar-height;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.kopi-nav-button {
  @extend .kopi-button;
  @include inline-block;
  color: $kopi-navbar-button-color;
  text-decoration: none;
  background: $kopi-navbar-button-background;
  height: $kopi-navbar-button-height;
  width: auto;
  padding-top: $kopi-navbar-padding;
  padding-bottom: $kopi-navbar-padding;
}

.kopi-nav-button-hover {
  background-color: $kopi-navbar-button-background-hover;
  color: $kopi-navbar-button-color-hover!important;
  text-decoration: none;
}

.kopi-nav-button-active {
  background-color: $kopi-navbar-button-background-active;
  color: $kopi-navbar-button-color-active;
  text-decoration: none;
}

.kopi-nav-button-title {
  @include inline-block;

  font-size: $kopi-navbar-button-font-size;
  height: $kopi-navbar-button-height;
  width: auto;
  line-height: $kopi-navbar-button-height;
  min-width: $kopi-navbar-button-width;
  text-align: center;
}

.kopi-nav-button-sprite {
  @extend .kopi-nav-button-text;
}
// }}}

// {{{ Nav Transition
.kopi-nav-transition {
  -webkit-transition-property: -webkit-transform,opacity;
  -moz-transition-property: -moz-transform,opacity;
  transition-property: transform,opacity;
  @include transition-duration(300ms);
  @include transition-timing-function(ease-out);
}

.kopi-navbar-animation {

  .kopi-nav-from-start {
    @extend .kopi-nav-transition;
    @include opacity(1);
    display: block;

    .kopi-nav-left {
      @extend .kopi-nav-transition;
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }

    .kopi-nav-center {
      @extend .kopi-nav-transition;
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }

    .kopi-nav-right {
      @extend .kopi-nav-transition;
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }
  }

  .kopi-nav-from-stop {
    @extend .kopi-nav-transition;
    @include opacity(0);
    display: block;

    .kopi-nav-left {
      @include opacity(0);
      @include translateX($kopi-navbar-button-width * -1);
      @include translate3d($kopi-navbar-button-width * -1, 0, 0);
    }

    .kopi-nav-center {
      @include opacity(0);
      @include translateX(-30%);
      @include translate3d(-30%, 0, 0);
    }

    .kopi-nav-right {
      @include opacity(0);
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }
  }

  .kopi-nav-to-start {
    @extend .kopi-nav-transition;
    @include opacity(0);
    display: block;

    .kopi-nav-left {
      @extend .kopi-nav-transition;
      @include translateX($kopi-navbar-button-width);
      @include translate3d($kopi-navbar-button-width, 0, 0);
    }

    .kopi-nav-center {
      @extend .kopi-nav-transition;
      @include translateX(30%);
      @include translate3d(30%, 0, 0);
    }

    .kopi-nav-right {
      @extend .kopi-nav-transition;
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }
  }

  .kopi-nav-to-stop {
    @include opacity(1);
    display: block;

    .kopi-nav-left {
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }

    .kopi-nav-center {
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }

    .kopi-nav-right {
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }
  }

}

.kopi-navbar-animation-reverse {

  .kopi-nav-from-start {
    @extend .kopi-nav-transition;
    @include opacity(1);
    display: block;

    .kopi-nav-left {
      @extend .kopi-nav-transition;
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }

    .kopi-nav-center {
      @extend .kopi-nav-transition;
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }

    .kopi-nav-right {
      @extend .kopi-nav-transition;
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }
  }

  .kopi-nav-from-stop {
    @extend .kopi-nav-transition;
    @include opacity(0);
    display: block;

    .kopi-nav-left {
      @include opacity(0);
      @include translateX($kopi-navbar-button-width);
      @include translate3d($kopi-navbar-button-width, 0, 0);
    }

    .kopi-nav-center {
      @include opacity(0);
      @include translateX(30%);
      @include translate3d(30%, 0, 0);
    }

    .kopi-nav-right {
      @include opacity(0);
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }
  }

  .kopi-nav-to-start {
    @extend .kopi-nav-transition;
    @include opacity(0);
    display: block;

    .kopi-nav-left {
      @extend .kopi-nav-transition;
      @include translateX($kopi-navbar-button-width * -1);
      @include translate3d($kopi-navbar-button-width * -1, 0, 0);
    }

    .kopi-nav-center {
      @extend .kopi-nav-transition;
      @include translateX(-30%);
      @include translate3d(-30%, 0, 0);
    }

    .kopi-nav-right {
      @extend .kopi-nav-transition;
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }
  }

  .kopi-nav-to-stop {
    @include opacity(1);
    display: block;

    .kopi-nav-left {
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }

    .kopi-nav-center {
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }

    .kopi-nav-right {
      @include translateX(0);
      @include translate3d(0, 0, 0);
    }
  }

}
// }}}
