@import 'compass/css3';
@import "compass/utilities";
@import "kopi/box";
@import "kopi/buttons";

// {{{ Indicator
.kopi-notification-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  height: $kopi-notification-indicator-height;
  width: $kopi-notification-indicator-width;
  margin-top: $kopi-notification-indicator-height / -2;
  margin-left: $kopi-notification-indicator-width / -2;
  display: none;
  z-index: 1300;
  background: transparent $kopi-notification-indicator-url center center no-repeat;
  background-size: contain;
}
// }}}

// {{{ Overlay
.kopi-notification-overlay {
  // TODO Add opacity transition when toggling overlay?
  @include opacity($kopi-notification-overlay-opacity);
  background-color: $kopi-notification-overlay-background-color;
  // FIXME
  // Webkit only supports pixels for the start and end stops
  // for radial gradients?
  // But works in chromium and firefox AFAIS
  @include background(radial-gradient(center, rgba(0,0,0,0) 0%, $kopi-notification-overlay-background-color 100%));
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.kopi-notification-overlay-transparent {
  background: none;
}
// }}}

.kopi-notification-background {
  @include unselectable;
  @include opacity(0.9);
  @include border-radius(4px);
  $shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 2px 5px rgba(0,0,0,0.5);
  @include box-shadow($shadow);

  color: $kopi-white;
  background-color: $kopi-gray-darker;
  border: 1px solid darken($kopi-gray-darker, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}

// {{{ Bubble
.kopi-notification-bubble {
  @extend .kopi-notification-background;
  width: $kopi-notification-bubble-width;
  height: $kopi-notification-bubble-height;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: $kopi-notification-bubble-height / -2;
  margin-left: $kopi-notification-bubble-width / -2;
  z-index: 1200;
  display: none;

  p {
    @include box-sizing(border-box);
    text-align: center;
    text-shadow: 0 -1px 0 $kopi-gray;
    vertical-align: middle;
    padding: 0;
    margin: $kopi-base-line-height 10px 0;
  }
}
// }}}

// {{{ Dialog
.kopi-notification-dialog {
  @extend .kopi-notification-background;
  position: fixed;
  top: 50%;
  left: 50%;
  width: $kopi-notification-dialog-width;
  min-height: $kopi-base-line-height;
  max-height: $kopi-notification-dialog-height;
  margin-left: - $kopi-notification-dialog-width / 2;
  margin-top: - $kopi-notification-dialog-height / 2;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  display: none;
  z-index: 1100;
}

.kopi-notification-dialog-header {
  height: $kopi-notification-dialog-header-height;
}

.kopi-notification-dialog-title {
  @include ellipsis;
  font-size: $kopi-notification-dialog-title-font-size;
  height: $kopi-notification-dialog-header-height;
  line-height: $kopi-notification-dialog-header-height;
  margin: 0;
  padding: 0 4px * 2;
}

.kopi-notification-dialog-content {
  font-size: $kopi-notification-dialog-content-font-size;
  max-height: $kopi-notification-dialog-content-height;
  overflow: hidden;
  border: 1px solid $kopi-gray;
  background-color: $kopi-gray-dark;
  border-width: 1px 0;

  p {
    margin: 0;
    padding: 0 (4px * 2) 4px;
  }
}

.kopi-notification-dialog-footer {
  height: $kopi-notification-dialog-footer-height;
}

.kopi-notification-dialog-button {
  position: absolute;
  height: $kopi-notification-dialog-button-height;
  line-height: $kopi-notification-dialog-button-height;
  width: $kopi-notification-dialog-button-width;
}

.kopi-notification-dialog-action {
  @extend .kopi-notification-dialog-button;
  left: $kopi-notification-dialog-button-margin;
  text-align: left;
}

.kopi-notification-dialog-close {
  @extend .kopi-notification-dialog-button;
  right: $kopi-notification-dialog-button-margin;
  text-align: right;
}
// }}}

.kopi-notification-overlay-show,
.kopi-notification-indicator-show,
.kopi-notification-bubble-show,
.kopi-notification-dialog-show {
  display: block;
}
