$kopi_nav_height: 32px;
$kopi_nav_background_color: rgba(0,0,0,0.7);
$kopi_nav_opacity: 1;
$kopi_nav_box_shadow: #000 0 0 20px;
$kopi_nav_border: 1px solid #333;

$kopi_nav_title_color: #fff;
$kopi_nav_title_font_size: 20px;
$kopi_nav_title_margin: 60px;
$kopi_nav_title_shadow: #333 0 -1px 0;

$kopi_nav_button_height: 30px;
$kopi_nav_button_width: 40px;
$kopi_nav_button_margin: 10px;
$kopi_nav_button_padding: 10px;
$kopi_nav_button_border: 1px solid #ccc;
$kopi_nav_button_bg_color: #333;
$kopi_nav_button_color: #ccc;
$kopi_nav_button_font_size: 14px;
$kopi_nav_button_border_radius: 5px;
