@import 'kopi/base';

$kopi_container_background_color: #fff !default;
$kopi_container_top: 36px !default;
$kopi_container_bottom: 36px !default;

@mixin kopi-container {
  background-color: $kopi_container_background_color;
  padding-top: $kopi_container_top;
  padding-bottom: $kopi_container_bottom;
}

// Nav 是始终置顶的情况
@mixin kopi-container-fixed {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 0;
}
