@import 'kopi/base';

/**
  View container arch

  div.kopi-container
    div.kopi-content-previous
      div.kopi-content
    div.kopi-content-current
      div.kopi-content
    div.kopi-content-next
      div.kopi-content
 */

$kopi-container-background: transparent !default;
$kopi-container-margin-top: 36px !default;
$kopi-container-margin-bottom: 36px !default;

@mixin kopi-container {
  background: $kopi-container-background;
  min-height: 100px;
  overflow-x: hidden;
}

@mixin kopi-container-fixed {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 20;
}

@mixin kopi-container-top {
  margin-top: $kopi-container-margin-top;
}

@mixin kopi-container-bottom {
  margin-bottom: $kopi-container-margin-bottom;
}

/*
  View arch:
  div.kopi-content
    header.kopi-content-header
    div.kopi-content-content
    footer.kopi-content-footer

 */

// Variables
$kopi-content-background: transparent !default;

$kopi-content-header-background: transparent !default;
$kopi-content-header-height: 36px !default;

$kopi-content-content-background: transparent !default;

$kopi-content-footer-background: transparent !default;
$kopi-content-footer-height: 36px !default;

$kopi-content-indicator-height: 20px;
$kopi-content-indicator-width: 120px;
$kopi-content-indicator-color: #333 !default;
$kopi-content-indicator-text-shadow: #999 1px 1px 1px !default;
$kopi-content-indicator-font-size: 16px;

// Mixins
@mixin kopi-content {
  background: $kopi-content-background;
  display: none;
}

@mixin kopi-content-header {
  background: $kopi-content-header-background;
  height: $kopi-content-header-height;
}

@mixin kopi-content-content {
  background: $kopi-content-content-background;
}

@mixin kopi-content-footer {
  background: $kopi-content-footer-background;
  height: $kopi-content-footer-height;
}

@mixin kopi-content-fixed {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 210;
}

@mixin kopi-content-header-fixed {
  // overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 240;
}

@mixin kopi-content-content-fixed  {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: $kopi-content-header-height;
  bottom: $kopi-content-footer-height;
  z-index: 220;
}

@mixin kopi-content-footer-fixed  {
  // overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 230;
}

@mixin kopi-content-indicator {
  @include text-shadow($kopi-content-indicator-text-shadow);
  @include experimental("user-select", none,
    -moz, -webkit, not -o, not -ms, not -khtml, official);

  cursor: default;
  height: $kopi-content-indicator-height;
  line-height: $kopi-content-indicator-height;
  width: $kopi-content-indicator-width;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: $kopi-content-indicator-height / -2;
  margin-left: $kopi-content-indicator-width / -2;
  display: none;

  img {
    width: $kopi-content-indicator-height;
    height: $kopi-content-indicator-height;
    vertical-align: middle;
  }

  span {
    cursor: default;
    color: $kopi-content-indicator-color;
    font-size: $kopi-content-indicator-font-size;
    margin-left: 4px;
    vertical-align: middle;
  }
}

@mixin kopi-content-indicator-show {
  display: block;
}
