@import 'kopi/widgets/nav';

/*
 Page architecture:
 div.kopi-page
   header.kopi-page-header
   div.kopi-page-content
   footer.kopi-page-footer
 */

// Variables
$kopi_page_background_color: #000 !default;

$kopi_page_header_background_color: #000 !default;
$kopi_page_header_height: $kopi_nav_height !default;

$kopi_page_content_background_color: #fff2cc !default;

$kopi_page_footer_background_color: #000 !default;
$kopi_page_footer_height: $kopi_nav_height !default;

// Mixins
@mixin kopi-page {
  background: $kopi_page_background_color;
}

@mixin kopi-page-header {
  background: $kopi_page_header_background_color;
  height: $kopi_page_header_height;
}

@mixin kopi-page-content {
  background: $kopi_page_content_background_color;
}

@mixin kopi-page-footer {
  background: $kopi_page_footer_background_color;
  height: $kopi_page_footer_height;
}

@mixin kopi-page-fixed {
  overflow: hidden;
  z-index: 1000;
}

@mixin kopi-page-header-fixed {
  // overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1003;
}

@mixin kopi-page-content-fixed  {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: $kopi_page_header_height;
  bottom: $kopi_page_footer_height;
  z-index: 1001;
}

@mixin kopi-page-footer-fixed  {
  // overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1002;
}
