@import 'kopi/widgets/nav';

/*
 Page architecture:
 div.kopi-view
   header.kopi-view-header
   div.kopi-view-content
   footer.kopi-view-footer
 */

// Variables
$kopi-view-background: transparent !default;

$kopi-view-header-background: transparent !default;
$kopi-view-header-height: $kopi-nav-height !default;

$kopi-view-content-background: transparent !default;

$kopi-view-footer-background: transparent !default;
$kopi-view-footer-height: $kopi-nav-height !default;

// Mixins
@mixin kopi-view {
  background: $kopi-view-background;
}

@mixin kopi-view-header {
  background: $kopi-view-header-background;
  height: $kopi-view-header-height;
}

@mixin kopi-view-content {
  background: $kopi-view-content-background;
}

@mixin kopi-view-footer {
  background: $kopi-view-footer-background;
  height: $kopi-view-footer-height;
}

@mixin kopi-view-fixed {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
}

@mixin kopi-view-header-fixed {
  // overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1003;
}

@mixin kopi-view-content-fixed  {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: $kopi-view-header-height;
  bottom: $kopi-view-footer-height;
  z-index: 1001;
}

@mixin kopi-view-footer-fixed  {
  // overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1002;
}
