@import 'kopi/widgets/nav';

/*
  Page architecture:
  div.kopi-view
    header.kopi-view-header
    div.kopi-view-content
    footer.kopi-view-footer

 */

// Variables
$kopi-view-background: transparent !default;

$kopi-view-header-background: transparent !default;
$kopi-view-header-height: $kopi-nav-height !default;

$kopi-view-content-background: transparent !default;

$kopi-view-footer-background: transparent !default;
$kopi-view-footer-height: $kopi-nav-height !default;

$kopi-view-indicator-height: 20px;
$kopi-view-indicator-width: 120px;
$kopi-view-indicator-color: #333 !default;
$kopi-view-indicator-text-shadow: #999 1px 1px 1px !default;
$kopi-view-indicator-font-size: 16px;

// Mixins
@mixin kopi-view {
  background: $kopi-view-background;
}

@mixin kopi-view-header {
  background: $kopi-view-header-background;
  height: $kopi-view-header-height;
}

@mixin kopi-view-content {
  background: $kopi-view-content-background;
}

@mixin kopi-view-footer {
  background: $kopi-view-footer-background;
  height: $kopi-view-footer-height;
}

@mixin kopi-view-fixed {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 210;
}

@mixin kopi-view-header-fixed {
  // overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 240;
}

@mixin kopi-view-content-fixed  {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: $kopi-view-header-height;
  bottom: $kopi-view-footer-height;
  z-index: 220;
}

@mixin kopi-view-footer-fixed  {
  // overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 230;
}

@mixin kopi-view-indicator {
  @include text-shadow($kopi-view-indicator-text-shadow);
  @include experimental("user-select", none,
    -moz, -webkit, not -o, not -ms, not -khtml, official);

  cursor: default;
  height: $kopi-view-indicator-height;
  line-height: $kopi-view-indicator-height;
  width: $kopi-view-indicator-width;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: $kopi-view-indicator-height / -2;
  margin-left: $kopi-view-indicator-width / -2;
  display: none;

  img {
    width: $kopi-view-indicator-height;
    height: $kopi-view-indicator-height;
    vertical-align: middle;
  }

  span {
    cursor: default;
    color: $kopi-view-indicator-color;
    font-size: $kopi-view-indicator-font-size;
    margin-left: 4px;
    vertical-align: middle;
  }
}

@mixin kopi-view-indicator-show {
  display: block;
}
