@import 'kopi/base';
@import 'kopi/themes/default';

.kopi-container {
  background-color: $kopi_container_background_color;
}

.kopi-container-fixed {
  position: absolute;
  top: $kopi_nav_height;
  bottom: $kopi_nav_height;
  left: 0;
  right: 0;
}
