@import 'kopi/base';
@import 'kopi/themes/default';
@import 'kopi/themes/default/notifier';

.kopi-notifier-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: $kopi_notifier_dialog_width;
  max-height: $kopi_notifier_dialog_height;
  margin-left: - $kopi_notifier_dialog_width / 2;
  margin-top: - $kopi_notifier_dialog_height / 2;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;

  display: none;
  z-index: 10001;

  @include kopi-notifier-dialog-background;
  @include border-radius($kopi_notifier_dialog_border_radius);
  @include text-shadow($kopi_notifier_dialog_text_shadow);
  color: $kopi_notifier_dialog_color;
  border: $kopi_notifier_dialog_border;
}

.kopi-notifier-dialog-header {
}

.kopi-notifier-dialog-gloss {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $kopi_notifier_dialog_gloss_height;;
  @include border-top-left-radius($kopi_notifier_dialog_gloss_border_top_radius);
  @include border-top-right-radius($kopi_notifier_dialog_gloss_border_top_radius);
  @include border-bottom-left-radius($kopi_notifier_dialog_gloss_border_bottom_radius);
  @include border-bottom-right-radius($kopi_notifier_dialog_gloss_border_bottom_radius);
  @include kopi-notifier-dialog-gloss-background;
}

.kopi-notifier-dialog-header {
  height: $kopi_notifier_dialog_header_height;
}

.kopi-notifier-dialog-title {
  @extend .ellipsis;
  font-size: $kopi_notifier_dialog_title_font_size;
  height: $kopi_notifier_dialog_header_height;
  line-height: $kopi_notifier_dialog_header_height;
  margin: 0;
  padding: 0 $kopi_notifier_dialog_border_radius * 2;
}

.kopi-notifier-dialog-content {
  font-size: $kopi_notifier_dialog_content_font_size;
  max-height: $kopi_notifier_dialog_content_height;
  overflow: hidden;

  p {
    margin: 0;
    padding: 0 ($kopi_notifier_dialog_border_radius * 2) ($kopi_notifier_dialog_border_radius);
  }
}

.kopi-notifier-dialog-footer {
  height: $kopi_notifier_dialog_footer_height;
}

.kopi-notifier-dialog-button {
  @extend .ellipsis;
  @include box-shadow($kopi_notifier_dialog_button_box_shadow);
  @include border-radius($kopi_notifier_dialog_button_border_radius);
  @include kopi-notifier-dialog-button-background;
  font-size: $kopi_notifier_dialog_button_font_size;
  font-weight: bold;
  position: absolute;
  height: $kopi_notifier_dialog_button_height;
  line-height: $kopi_notifier_dialog_button_height;
  width: $kopi_notifier_dialog_button_width;
  border: $kopi_notifier_dialog_button_border;
  cursor: pointer;
}

.kopi-notifier-dialog-button:hover, .kopi-notifier-dialog-button-hover {
  @include kopi-notifier-dialog-button-hover-background;
}

.kopi-notifier-dialog-button:active, .kopi-notifier-dialog-button-active {
  @include kopi-notifier-dialog-button-active-background;
}

.kopi-notifier-dialog-action {
  @extend .kopi-notifier-dialog-button;
  @include kopi-notifier-dialog-action-background;
  left: $kopi_notifier_dialog_button_margin;
}

.kopi-notifier-dialog-close {
  @extend .kopi-notifier-dialog-button;
  @include kopi-notifier-dialog-close-background;
  right: $kopi_notifier_dialog_button_margin;
}

.kopi-notifier-dialog-show {
  display: block;
}

.kopi-notifier-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  height: $kopi_notifier_indicator_height;
  width: $kopi_notifier_indicator_width;
  margin-top: - $kopi_notifier_indicator_height / 2;
  margin-left: - $kopi_notifier_indicator_width / 2;
  display: none;
  z-index: 10002;
}

.kopi-notifier-indicator-show {
  display: block;
}

.kopi-notifier-indicator-loading {
}

.kopi-notifier-overlay {
  @include opacity($kopi_notifier_overlay_opacity);
  @include kopi-notifier-overlay-background;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: none;
}

.kopi-notifier-overlay-show {
  display: block;
}
