/**
 * Global variables
 */
/**
 * Gray levels
 */
/**
 * Accent colors
 */
/**
 * Scaffolding
 */
/**
 * Links
 */
/**
 * Typography
 */
/**
 * Tables
 */
/**
 * Lists
 */
/**
 * Buttons
 */
/**
 * Forms
 */
/**
 * Dropdowns
 */
/**
 * Component Variables
 */
/**
 * Z-index master list
 *
 * Used for a bird's eye view of components dependent on the z-axis
 * Try to avoid customizing these :)
 */
/**
 * Sprite icons path
 */
/**
 * Input placeholder text color
 */
/**
 * Hr border color
 */
/**
 * Navbar
 */
/**
 * Hero unit
 */
/**
 * Form states and alerts
 */
/**
 * Notification
 */
/**
 * Tabs
 */
/**
 * Base styles for buttons
 */
/* line 23, ../../../src/scss/kopi/buttons.scss */
.kopi-button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  text-align: center;
  cursor: pointer;
}
/* line 7, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.kopi-button {
  *display: inline;
}
/* line 29, ../../../src/scss/kopi/buttons.scss */
.kopi-button .kopi-button-inner {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 7, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.kopi-button .kopi-button-inner {
  *display: inline;
}
/* line 36, ../../../src/scss/kopi/buttons.scss */
.kopi-button .kopi-button-icon {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-left: auto;
  margin-right: auto;
}
/* line 7, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.kopi-button .kopi-button-icon {
  *display: inline;
}
/* line 42, ../../../src/scss/kopi/buttons.scss */
.kopi-button .kopi-button-text {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: middle;
}
/* line 7, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.kopi-button .kopi-button-text {
  *display: inline;
}

/* line 49, ../../../src/scss/kopi/buttons.scss */
.kopi-button-rounded .kopi-button-inner {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/**
 * Button styles
 */
/* line 60, ../../../src/scss/kopi/buttons.scss */
.kopi-button-default,
.kopi-button-primary, .kopi-button-warning,
.kopi-button-danger, .kopi-button-success,
.kopi-button-info, .kopi-button-inverse {
  padding: 4px;
}
/* line 63, ../../../src/scss/kopi/buttons.scss */
.kopi-button-default .kopi-button-inner,
.kopi-button-primary .kopi-button-inner, .kopi-button-warning .kopi-button-inner,
.kopi-button-danger .kopi-button-inner, .kopi-button-success .kopi-button-inner,
.kopi-button-info .kopi-button-inner, .kopi-button-inverse .kopi-button-inner {
  padding: 4px 10px;
  font-size: 13px;
  text-decoration: none;
  line-height: 18px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background: -moz-linear-gradient(#ffffff, #e6e6e6);
  background: -o-linear-gradient(#ffffff, #e6e6e6);
  background: -ms-linear-gradient(#ffffff, #e6e6e6);
  background: linear-gradient(#ffffff, #e6e6e6);
  background-color: #e6e6e6;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-bottom-color: #b3b3b3;
}

/* line 79, ../../../src/scss/kopi/buttons.scss */
.kopi-button-default .kopi-button-inner {
  color: #333333;
}

/* line 87, ../../../src/scss/kopi/buttons.scss */
.kopi-button-primary .kopi-button-inner, .kopi-button-warning .kopi-button-inner,
.kopi-button-danger .kopi-button-inner, .kopi-button-success .kopi-button-inner,
.kopi-button-info .kopi-button-inner, .kopi-button-inverse .kopi-button-inner {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}

/* line 95, ../../../src/scss/kopi/buttons.scss */
.kopi-button-primary .kopi-button-inner {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0088cc), color-stop(100%, #0055cc));
  background: -webkit-linear-gradient(#0088cc, #0055cc);
  background: -moz-linear-gradient(#0088cc, #0055cc);
  background: -o-linear-gradient(#0088cc, #0055cc);
  background: -ms-linear-gradient(#0088cc, #0055cc);
  background: linear-gradient(#0088cc, #0055cc);
  background-color: #0055cc;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

/* line 101, ../../../src/scss/kopi/buttons.scss */
.kopi-button-warning .kopi-button-inner {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbb450), color-stop(100%, #f89406));
  background: -webkit-linear-gradient(#fbb450, #f89406);
  background: -moz-linear-gradient(#fbb450, #f89406);
  background: -o-linear-gradient(#fbb450, #f89406);
  background: -ms-linear-gradient(#fbb450, #f89406);
  background: linear-gradient(#fbb450, #f89406);
  background-color: #f89406;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

/* line 107, ../../../src/scss/kopi/buttons.scss */
.kopi-button-danger .kopi-button-inner {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee5f5b), color-stop(100%, #bd362f));
  background: -webkit-linear-gradient(#ee5f5b, #bd362f);
  background: -moz-linear-gradient(#ee5f5b, #bd362f);
  background: -o-linear-gradient(#ee5f5b, #bd362f);
  background: -ms-linear-gradient(#ee5f5b, #bd362f);
  background: linear-gradient(#ee5f5b, #bd362f);
  background-color: #bd362f;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

/* line 113, ../../../src/scss/kopi/buttons.scss */
.kopi-button-success .kopi-button-inner {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62c462), color-stop(100%, #51a351));
  background: -webkit-linear-gradient(#62c462, #51a351);
  background: -moz-linear-gradient(#62c462, #51a351);
  background: -o-linear-gradient(#62c462, #51a351);
  background: -ms-linear-gradient(#62c462, #51a351);
  background: linear-gradient(#62c462, #51a351);
  background-color: #51a351;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

/* line 119, ../../../src/scss/kopi/buttons.scss */
.kopi-button-info .kopi-button-inner {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bc0de), color-stop(100%, #2f96b4));
  background: -webkit-linear-gradient(#5bc0de, #2f96b4);
  background: -moz-linear-gradient(#5bc0de, #2f96b4);
  background: -o-linear-gradient(#5bc0de, #2f96b4);
  background: -ms-linear-gradient(#5bc0de, #2f96b4);
  background: linear-gradient(#5bc0de, #2f96b4);
  background-color: #2f96b4;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

/* line 124, ../../../src/scss/kopi/buttons.scss */
.kopi-button-inverse .kopi-button-inner {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(#555555, #222222);
  background: -moz-linear-gradient(#555555, #222222);
  background: -o-linear-gradient(#555555, #222222);
  background: -ms-linear-gradient(#555555, #222222);
  background: linear-gradient(#555555, #222222);
  background-color: #222222;
  border-color: #222222 #222222 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

/* line 131, ../../../src/scss/kopi/buttons.scss */
.kopi-button-default.kopi-button-hover .kopi-button-inner {
  color: #333333;
  background-image: none;
  background-color: #e6e6e6;
}

/* line 144, ../../../src/scss/kopi/buttons.scss */
.kopi-button-primary.kopi-button-hover .kopi-button-inner,
.kopi-button-warning.kopi-button-hover .kopi-button-inner,
.kopi-button-danger.kopi-button-hover .kopi-button-inner,
.kopi-button-success.kopi-button-hover .kopi-button-inner,
.kopi-button-info.kopi-button-hover .kopi-button-inner,
.kopi-button-inverse.kopi-button-hover .kopi-button-inner {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
  background-image: none;
}

/* line 160, ../../../src/scss/kopi/buttons.scss */
.kopi-button-default.kopi-button-active .kopi-button-inner,
.kopi-button-primary.kopi-button-active .kopi-button-inner,
.kopi-button-warning.kopi-button-active .kopi-button-inner,
.kopi-button-danger.kopi-button-active .kopi-button-inner,
.kopi-button-success.kopi-button-active .kopi-button-inner,
.kopi-button-info.kopi-button-active .kopi-button-inner,
.kopi-button-inverse.kopi-button-active .kopi-button-inner {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-image: none;
  outline: 0;
}

/* line 170, ../../../src/scss/kopi/buttons.scss */
.kopi-button-default.kopi-button-active .kopi-button-inner {
  background-color: #e6e6e6;
}

/* line 176, ../../../src/scss/kopi/buttons.scss */
.kopi-button-primary.kopi-button-active .kopi-button-inner {
  background-color: #0055cc;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

/* line 182, ../../../src/scss/kopi/buttons.scss */
.kopi-button-warning.kopi-button-active .kopi-button-inner {
  background-color: #f89406;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

/* line 188, ../../../src/scss/kopi/buttons.scss */
.kopi-button-danger.kopi-button-active .kopi-button-inner {
  background-color: #bd362f;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

/* line 194, ../../../src/scss/kopi/buttons.scss */
.kopi-button-success.kopi-button-active .kopi-button-inner {
  background-color: #51a351;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

/* line 200, ../../../src/scss/kopi/buttons.scss */
.kopi-button-info.kopi-button-active .kopi-button-inner {
  background-color: #2f96b4;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

/* line 206, ../../../src/scss/kopi/buttons.scss */
.kopi-button-inverse.kopi-button-active .kopi-button-inner {
  background-color: #222222;
  border-color: #222222 #222222 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

/* line 212, ../../../src/scss/kopi/buttons.scss */
.kopi-button-disabled {
  cursor: default;
}
/* line 215, ../../../src/scss/kopi/buttons.scss */
.kopi-button-disabled .kopi-button-inner {
  background-image: none;
  background-color: #e6e6e6;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/**
 * Button sizes
 */
/* line 228, ../../../src/scss/kopi/buttons.scss */
.kopi-button-large .kopi-button-inner {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 238, ../../../src/scss/kopi/buttons.scss */
.kopi-button-small .kopi-button-inner {
  padding: 3px 9px;
  font-size: 11px;
  line-height: 16px;
}

/* line 247, ../../../src/scss/kopi/buttons.scss */
.kopi-button-mini .kopi-button-inner {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
