/* line 5, ../../../src/scss/kopi/indicators.scss */
.kopi-indicator {
  height: 24px;
  width: 24px;
  background: transparent url('/images/kopi/loader.gif?1331558580') center center no-repeat;
  background-size: contain;
  display: none;
}

/* line 13, ../../../src/scss/kopi/indicators.scss */
.kopi-indicator-show {
  display: block;
}

/* line 17, ../../../src/scss/kopi/indicators.scss */
.kopi-indicator-center {
  position: absolute;
  margin-top: -12px;
  margin-left: -12px;
  top: 50%;
  left: 50%;
  z-index: 1300;
}
